<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="DEV_HOME" value="."/>

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/tebaqa.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/tebaqa.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <logger name="de.uni.leipzig.tebaqa" level="debug" additivity="false">
        <appender-ref ref="FILE-AUDIT"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-AUDIT"/>
    </root>

</configuration>
