body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 241, 238);
}

h1 {
    margin-top: 5%;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.0rem;
}
h1,h2,h3 {
    text-align: center;
}

div#answer-header h3 {
    margin-bottom: 10px !important;
}

.font-weight-bold {
    font-weight: 600 !important;
}

#infoboxes {
    width: 100%;
    display: flex;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.img-wrapper {
    text-align: center;
    display: inline-block;
    padding: 5px;
    max-width: 30%;
}

div.toast-message{
    font-size: 13px;
}

img.wiki-image {
    vertical-align: initial;
    width: 100%;
}

.examples-container {
    width: 100%;
}

ul.nav {
    text-align: center;
}

.nav {
    display: list-item;
}

li.nav-item {
    float: none;
    display: inline-block;
}



.content {
    padding: 5px 10px;
    display: block;
    max-width: 70%;
    position: inherit;

}

.content-no-image {
    padding: 10px 10px;
    display: inline-block;
}

.title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
}

.card {
    display: inline-block;
    min-width: unset;
    max-width: 550px;
    margin: 5px 5px 5px 5px;
    box-shadow: 4px 4px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 5px 10px;
    text-size-adjust: 100%;
    visibility: visible;
    width: 334px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text {
    font-size: 13px;
    color: #cc6a09;
    line-height: 15px;
    font-weight: 300;
    word-break: normal;
    word-wrap: normal;
}

.summary {
    display: flex;
}

.button-group .btn i {
    font-size: 1.8rem;
    position: absolute;
    left: 90%;
}

.btn {
    font-size: 14px;
}

#loaderDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.8;
    display: block;
    z-index: 1001;
}

.container {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0;
}
#extended{
    text-align: center;
}
#radio{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#sparql-query-content {
    width: 400px;
    max-width: 95%;
}

.title {
    font-size: 18px;
    color: #074764;
    line-height: 24px;
    margin-bottom: 5px;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* Form wrapper styling */
.form-wrapper {
    /*width: fit-content;*/
    padding: 15px;
    width: 100%;
    vertical-align: middle;
    display: flex;
    margin: auto auto auto auto;
}

/* Form text input */

.form-wrapper input {
    display: flex;
    flex: 1;
    width: 70%;
    /*max-width: 400px;*/
    box-sizing: content-box;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'Roboto', 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19) !important;
}

.inner-form-wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.inner-infobox-wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav a {
    font-size: 0.8em;
}

.nav li {
    padding-right: 5px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    font-size: 15px;
    color: #999;
    font-weight: normal;
    font-style: italic;
}

input::-webkit-input-placeholder {
    font-size: 15px;
    color: #999;
    font-weight: normal;
    font-style: italic;
}

input:-ms-input-placeholder {
    font-size: 15px;
    color: #999;
    font-weight: normal;
    font-style: italic;
}

input::-moz-placeholder {
    font-size: 15px;
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 25%;
    max-width: 110px;
    min-width: 75px;
    font: bold 18px/40px 'Roboto', 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    background: #00897B;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19) !important;
}

.form-wrapper button:hover {
    background: #009688;
}

.form-wrapper button:active,
.form-wrapper button:focus {
    background: #00796B;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19) !important;
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #00897B transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before {
    border-right-color: #009688;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before {
    border-right-color: #00796B;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

@media screen and (max-width: 400px) {
    .card {
        margin: 5px 5px 5px 5px;
    }
}

/*@media (max-width: 300px) {*/
    /*#answer-button {*/
        /*!*display: none !important;*!*/
    /*}*/
/*}*/
